

<body>
  
  <section>
    <div class="container p-5">
      <div class="row ">
        {{#each products}}
        <div class="col-sm-4 ">
        <div class="card p-3" style="width: 18rem;">
          <img class="card-img-top" src="/product-images/{{this._id}}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">{{this.Category}}</p>
            <a href="#" class="btn btn-primary">Buy</a>

          </div>
        </div>
        </div>
        {{/each}}
      </div>

    </div>
  </section>


</body>