<section class="topmargin">
<div class=" bg-light col-6 container text-center" style="margin-left:% ; margin-top:4%;border-radius:15px ">
    <div class="float pt-4 pb-5">
        <h4 class="text-success">Your order has been placed..!</h4>
        <br>
        <br>
        <p>A confirmation mail has been sent to your Email</p>
        <br>
        <br>
        <a href="/" class="btn btn-primary">Explore more </a>
        <a href="/orders" class="btn btn-dark">View orders</a>
    </div>
</div>

</section>