<section class="topmargin" style="background-color: #eee;">
    <div class="container col-md-5 p-3">
        <div class="card align-items-center  " style=" border-radius: 25px;">

            <div class="p-3">
                <h1 class="">Sign Up</h1>
            </div>
            <div class="pt-3 pl-5 pr-5 pb-3 w-75  ">
                <div class="form-group align-items-center">

                    <form action="/signup" method="post" class="pl-3">
                        <div class="">

                            <div class="  p-2">
                                <input type="text" id="form3Example1c" required class="form-control " name="Username"
                                    placeholder="User Name">
                            </div>

                            <div class="  p-2 ">
                                <input type="email" required id="form3Example3c" class="form-control" placeholder="Email" name="Email">
                            </div>

                            <div class="  p-2 ">
                                <input type="password" required id="form3Example4c" class="form-control" placeholder="Password" name="Password"> 
                            </div>

                            <div class=" p-2 ">
                                <input type="password" required  id="form3Example4cd" class="form-control"
                                    placeholder="Re-enter Your Password">
                            </div>

                            <div class="text-center pt-3">
                                <input type="submit" value="Register" class="btn btn-primary">
                            </div>

                            <a href="/login" class="">Already have an account ? Login</a>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</section>